@page
@model EncoreTrack.Pages_Concerts.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!--tfcdeets-->

        <h1>Details</h1>

        <div>
            <h4>Concert</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Concert.ConcertName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Concert.ConcertName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Concert.ConcertDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Concert.ConcertDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Concert.Venue)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Concert.Venue)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Concert.ConcertID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
