@page
@model EncoreTrack.Pages_AudienceMembers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AudienceMember</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceMember.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudienceMember.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceMember.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudienceMember.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceMember.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudienceMember.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceMember.FirstVisitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudienceMember.FirstVisitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceMember.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudienceMember.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AudienceMember.AudienceMemberID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
